{% extends 'temp/user_home.html' %}
{% block base %}
<h1 align="center">Payment </h1>
<table align="center">
	<form method="post">
        {% csrf_token %}
		<tr align="center">
			<td height="50">Cardnumber</td>
			<td height="50"><input type="text" name="cn" required="" class="form-control" style="color: black"></td>
		</tr>
{#        {% for i in ok %}#}
        <tr align="center">
            <td>Total</td>
            <td><input type="text" name="t" value="{{ ok }}" style="color: black" readonly=""></td>
        </tr>
{#        {% endfor %}#}
		<tr align="center">
			<td height="50">cvv</td><td> <input type="text" name="cv" class="form-control" style="color: black"></td>
		</tr>
		<tr align="center">
			<td height="50"> exp date </td><td><input type="date" name="mobileno" class="form-control" style="color: black"> </td>
		</tr>
		<tr align="center">
			<td height="50">Account holdername</td>
			<td height="50"><input type="text" name="acn" class="form-control" style="color: black"></td>
		</tr>

		<td></td>
		<td height="50"><input type="submit" value="Pay" class="btn btn-primary"></td>
        </tr>
		
	</form>
	
</table>
{% endblock %}